<article class="unit-article layout-post">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="h2 entry-title">{{ page.title }}</h1>
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd">
                <div class="entry-content">
                    <div class="meta">
                        <p class="date-publish">
                            Published: 
                            <date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
                            <span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
                            <span class="day">{{ page.date | date: '%d' }}</span>
                            <span class="year">{{ page.date | date: '%Y' }}</span>
                            </date>
                        </p>
                        <ul class="list-category list-linear">
                            <li class="list-head">Category:&nbsp;</li>
                            {% assign categories_list = page.categories %}
                            {% include JB/categories_list %}
                        </ul>
                        <ul class="list-tag list-linear">
                            <li class="list-head">Tags:&nbsp;</li>
                            {% assign tags_list = page.tags %}
                            {% include JB/tags_list %}
                        </ul>
                    </div><!-- meta -->
                    {{ content }}
                </div><!-- entry-content -->
				<footer class="unit-foot">
					<div class="unit-inner unit-foot-inner">
						<nav class="pagination">
							<ul align="right">
								{% if page.previous %}
								<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="{{ page.previous.title }}">上一篇: <i>{{ page.previous.title }}</i></a></li>
								{% endif %}
								{% if page.previous and page.next %}
								<li class="pipe"> | </li>
								{% endif %}
								{% if page.next %}
								<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="{{ page.next.title }}"><i>{{ page.next.title }}</i>: 下一篇</a></li>
								{% endif %}
							</ul>
						</nav>
					</div>
				</footer>
                <div class="misc-content">
					<!--
                    <div class="social">
                        <ul class="list-linear">
                            <li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>
                            <li><div class="twitter-follow"><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
                        </ul>
                    </div>
                    <div class="comment">
                        {% include JB/comments %}
                    </div>
					-->
<!--搜狐畅言高速版，加载速度快，使用前需测试页面的兼容性-->
<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyrjMBqLp',
    conf = 'prod_d75aeeb2ec544ab7dfb903a3275d0777';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
    window.SCS_NO_IFRAME = true;
  })()
</script>                
                </div><!-- misc-content -->
            </div><!-- bd -->
			<p class="gotop" align="right">
				<a href="#page">Back to Top</a>
			</p>
        </div><!-- content -->
    </div><!-- unit-inner -->
</article>
