<header class="post-header">
  <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <p class="post-meta">
	{% if page.date %}
    <i class="fa fa-calendar"></i>
    {{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日
    <i class="space"></i>
	{% endif %}
	{% if page.categories %}
		<i class="fa fa-tag"></i>
		<a class="post-category" href="/categories.html#{{ page.categories }}">{{ page.categories }}</a>
	{% endif %}
	{% if page.tags %}
		<i class="fa fa-paperclip"></i>
		{% for tag in page.tags %} 
    	<a class="post-category" href="/tags.html#{{ tag }}">{{ tag }}</a>
		{% endfor %}
	{% endif %}
	<hr id="line"/>
  </p>
</header>
<div class="post-main">
{{ content }}
</div>
<div class="pagination">
	{% if page.previous %}
	<a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.previous.url }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ page.previous.title }}</a>
	{% elsif page.index != true %}
	<span class="pagination-item newer">上一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
	{% endif %}
	{% if page.next %}
	<a class="pagination-item older" href="{{ BASE_PATH }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
	{% elsif page.index != true %}
	<span class="pagination-item older">下一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
	{% endif %}

</div>
