html,body,p,h1,h2,h3,h4,h5,div,input,legend,form,button,a{margin:0;padding:0;}

body { font-size: 14px; line-height: 120%; font-family: "Microsoft Yahei", Arial; }
a img {border:none;}
ul,li{list-style: none;}
a {text-decoration: none;color:#000;}
a:hover {color:red;}

input { vertical-align: green;}
input[type=button],input[type=reset],input[type=submit],button {border:1px solid #CCC; 
	background:#F8F8F8;padding:3px 5px; cursor:pointer; height:24px; *line-height: 16px;}
input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover,button:hover { background:#EEE;}
fieldset {padding:10px 20px;}
legend {font-weight: bold; font-size: 16px;}

h1 {font:24px/32px;}
h2 {font:20px/30px;}
h3 {font:18px/24px;}
h4 {font:16px/22px;}

.hide {display:none;}
.show {display:block;}

.error { border:1px solid red; color:red;}
.warning { border:1px solid green; color:green;}

.loading-bar {position:fixed;top:0;left:0;width:100%;height:5px;opacity:.7;filter:alpha(opacity=70);font-size:0;}
.loading-bar div {position:absolute;width:0;left:0;top:0;height:5px;font-size: 0;background:green;}
.info-bar {background:green;opacity:.7;filter:alpha(opacity=70);box-shadow: 3px 3px 5px #F8F8F8;
	position:fixed; right:15px; top:12px; padding:10px 20px 10px 10px; color:#FFF; max-width: 220px;}
.info-bar sup {position:absolute; top:3px; right:3px; cursor:pointer; width:18px; height:18px;text-align: center;line-height: 18px;}

.acenter {margin:60px auto; width:314px;}
.acenter h1 { text-align: center; margin-bottom: 50px; font-family: "楷体", Simsun, Arial; }
.login { width:270px;}
.login fieldset {border-color: green;}
.login legend {padding:8px;}
.login p {line-height: 40px; }
.login input[type=submit] { margin-left: 20px;}
.login label {text-align:justify; display:inline-block; width:64px;}
.login input[type=text],.login input[type=password] { height:20px; line-height: 20px; width:120px;}
.forget-pwd {font-size: 12px; color:green; margin-left: 10px;}
label.rem-pwd {width:auto;}
#rem {margin-right: 8px;}

.register label {text-align:justify; display:inline-block; width:80px;}
.show-error { padding:10px; margin-top: 10px;}


